<div class="footer">
  <div class="footer-copyright">
    May the Force be with you. <i class="fa-solid fa-planet-moon"></i> Le Wagon
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
